.h1 {
    position: relative;
    text-align: center;
    text-size-adjust: 15px;
    color: purple;
}

.hello {
    position: relative;
    text-align: center;
    text-size-adjust: 15px;
    color: purple;
}